
@{
    ViewBag.Title = "我要投資";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
以下連結帳號僅供參考，日後會與真正的銀行合作，提高專題完整性
</address>

<address>
    <strong>bank:</strong>   <a href="https://www.bot.com.tw/default.htm">https://www.bot.com.tw/default.htm</a><br />
</address>
